#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  border: 0;
  
  --text-color: #EFEFEF; 
}
                 

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

/* Garante que o conteúdo não exceda a largura da página */
html, body {
  overflow-x: hidden; /* Evita barra de rolagem horizontal no body */
  margin: 0;
  padding: 0;
}

/* Opcional: para garantir que a largura da página seja respeitada */
.App {
  max-width: 100vw; /* Limita a largura para evitar estouro horizontal */
  overflow-x: hidden; /* Garante que o contêiner principal não tenha rolagem horizontal */
}
